.app-grid {
  max-width: 1400px;
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

app-right {
  width: 60%;
}

app-left {
  width: 35%;
}

app-footer {
  width: 100%;
}

@media all and (max-width: 850px){
  .app-grid {
    flex-flow: column;
    align-items: center;
  }
  app-right {
    width: 60%;
  }
  app-left {
    width: 60%;
  }
}
