p {
  font-size: 14px;
  white-space:pre-wrap;
}

h5 {
  margin: 8px 0;
}

h6 {
  margin: 8px 0;
}

hr {
  margin: 20px 0;
}

@media (min-width: 850px) {
  .modal-dialog {
    max-width: 800px;
  }
}
